@import 'styles/variables';
@import 'styles/mixins';

.page-heading {
	margin-top: 80px;
	font-size: 2.6rem;
}

.btn-primary {
	@include for-phone-only {
		width: 100%;
		text-align: center;
	}
}

.newsletter {
	@include for-phone-only {
		flex-direction: column;
	}
}
