@import 'styles/variables';
@import 'styles/mixins';

.projects {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	margin-top: 60px;

	.project {
		@include theme-aware('background', 'color-grayscale-400');
		@include theme-aware('border-color', 'color-grayscale-300');
		border: 1px solid;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;

		h2 {
			@include theme-aware('color', 'color-orange-20');
		}

		span {
			font-size: 6rem;
		}

		.links {
			a {
				@include theme-aware('background', 'color-background-primary');
				@include theme-aware('border-color', 'color-grayscale-300');
				@include theme-aware('color', 'color-grayscale-200');
				border: 1px solid;
				padding: 0.15rem 0.6rem;
				margin: 0.2rem;
				border-radius: 5px;

				&:hover {
					@include theme-aware('border-color', 'color-orange-base');
					@include theme-aware('color', 'color-orange-base');
				}
			}
		}

		.description {
			margin-top: 1.4rem;
		}
	}
}
